#body__chat-room {
  background-color: #c4fffce1;
  position: relative;
}
.chat-room-i {
  margin-right: 20px;
}
#setting-header-div__span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#date-box-div {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.chat-room-header-div :first-child {
  margin-left: 10px;
}
.chat-room-header-div .fa-bars {
  margin-right: 10px;
}
#date-box-div__scan {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  

}
.chat-room-main__top-img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
.chatroom-statusbar-div {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 20px;

  position: fixed;
  box-sizing: border-box;
  top: 0px;
  z-index: 3;
  width: 100%;
}
.general-main-top {
  margin-top: 50px;
}
.chat-room-header-div {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  padding-top: 40px;
  background-color: #c4ffff;
  font-size: 25px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);

}
#chat-room-main {
  height: 2000px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.9);
  }


.chat-room-main__top {
  margin: 150px 20px;
  display: flex;
  align-items: center;
}
.chat-room-main__top__right {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.chat-room-main__top__right__top {
  font-size: 18px;
}
.chat-room-main__top__right__bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 10px;
}
.chat-room__bubble-left {
  background-color: rgba(252, 190, 190, 0.767);
  padding: 15px;
  border-radius: 30px;
  border-top-left-radius: 0%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 5px;
}
.chat-room-main__text-time {
  font-size: 13px;
}
.chat-room-main__middle {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0px;
  top: 260px;
  font-weight: bold;
  flex-direction: row;
  align-items: flex-end;
}
.chat-room-main__middle__right {
  background-color: rgba(252, 190, 190, 0.767);
  padding: 15px;
  border-radius: 30px;
  border-top-right-radius: 0%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 5px;
}
.chat-room-main__bottom {
  height: 60px;
  background-color: antiquewhite;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  position: fixed;
  bottom: 0px;
}
.chat-room-main__bottom-i {
  font-size: 35px;
  margin-left: 20px;
}
.chat-room-main__bottom__right {
  height: 50px;
  background-color: white;
  width: 60%;
  border-radius: 20px;
  margin-right: 20px;
  border-style: none;
  padding-left: 10px;
  padding-right: 100px;
}

#chat-room-main__bottom-input {
  font-size: 18px;
  position: relative;
}

#chat-room-main__bottom__right-i {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0px;
  margin-right: 20px;
}
#chat-room-main__bottom__right-i button {
  padding: 6px 10px;
  font-size: 25px;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  margin-left: 10px;
}
#chat-room-main__bottom-input {
  position: fixed;
  left: 80px;
  transition: all .5s ease-in-out;
}
.chat-room-main__bottom:focus-within .chat-room-main__bottom-i,
.chat-room-main__bottom:focus-within .chat-room-main__bottom__right-smile-i,
.chat-room-main__bottom:focus-within button {
  display: none;
}

.chat-room-main__bottom:focus-within input {
  width: 75%;
  
}
@keyframes typingchat {
  0% {transform: translateX(20px);
  }
  100% {
    transform:translateX(-70px);
    }
}
#chat-room-main__bottom-input:focus-within {
  animation: typingchat 1s ease-in-out forwards;

}